.main-success {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  top: 0;
  background: rgba(86, 96, 107, 0.6);
  backdrop-filter: blur(3.5px);
  left: 0;
  display: flex;
  align-items: center;
  display: none;
  opacity: 0;
  transition: all 0.3s;
  &__return-button {
    display: flex;
    position: absolute;
    cursor: pointer;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  & h1 {
    text-align: center;
    margin-bottom: 80px;
  }
  & button {
    margin-top: 80px;
  }
}
@include _1 {
  .main-success {
    overflow: hidden;
    & button {
      width: calc(100% - 20px);
    }
    &__content {
      height: 100vh;
      width: 100vw;
      margin-top: 100px;

      & img[data-close-button] {
        display: none;
      }
    }
    & .container {
      padding: unset;
    }
    &__return-button {
      top: 25px;
      left: 10px;
      align-items: center;
      gap: 5px;
    }
  }
}

@include _640 {
  .main-success {
    overflow: auto;
    &__return-text {
      font-size: 22px;
      font-weight: 500;
      color: #56606b;
    }
    &__content {
      margin-top: unset;
    }

    & button {
      width: 600px;
    }
    &__return-button {
      top: 130px;
    }
  }
}
@include _768 {
  .main-success {
    & button {
      width: 703px;
    }
  }
}

@include _992 {
  .main-success {
    &__return-button {
      top: 130px;
    }
  }
}
@include _1200 {
  .main-success {
    z-index: 100000;
    &__return-button {
      display: none;
    }
    &__content {
      border-radius: 48px;
      padding: 273px 137px 193px 137px;
      height: unset;
      width: unset;
      & img[data-close-button] {
        display: block;
        content: "";
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 50px;
      }
    }
  }
}
@include _1520 {
  .main-success {
    &__content {
      padding: 273px 285px 193px 285px;
    }
  }
}
