.advantages-cards {
  display: grid;
  padding: 0 35px;
  gap: 48px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 120px;

  // .advantages-cards_UAE

  &_UAE,
  &_local {
    display: flex;
    max-width: 732px;
    padding: 64px 80px;
    gap: 32px;
    flex-direction: column;
    border-radius: 48px;
    border: 1px solid #000;
    max-height: 424px;
  }
}
.trust-cards {
  // .trust-cards_block

  &_block {
    display: grid;
    padding: 40px 35px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
    gap: 48px;
    // .trust-cards_title
  }
  &_title {
    display: flex;
    padding: 56px 0px 56px 35px;
  }

  // .trust-cards_services

  &_services_card,
  &_success_card {
    display: flex;
    max-width: 788px;
    padding: 64px 80px;
    border-radius: 48px;
    border: 2px solid #000;
    background: #ebf3ff;
  }

  // .trust-cards_success

  &_success_card {
    background: #f6f6f6;
  }
  &_services_card,
  &_success_card p {
    max-width: 628px;
  }
}
/////////////////////////////////////////////////////////////
@include _1 {
  .advantages-cards {
    padding: 0;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, 1fr);
    // .advantages-cards_UAE

    &_UAE,
    &_local {
      padding: 30px;
      gap: 30px;
      max-width: 100%;
      border-radius: 28px;
    }
    &_UAE h2,
    &_local h2 {
      font-size: 34px;
      line-height: normal;
    }
    &_UAE p,
    &_local p {
      font-size: 16px;
      line-height: 160%;
    }
  }
  .trust-cards {
    // .trust-cards_block

    &_block {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(0, 1fr);
      padding: 0px;
      margin-bottom: 60px;
      gap: 30px;
      // .trust-cards_title
    }
    &_title {
      display: flex;
      padding: 56px 0px 56px 35px;
    }
    &_title h2 {
      font-size: 34px;
      line-height: normal;
    }

    // .trust-cards_services

    &_services_card,
    &_success_card {
      max-width: 788px;
      padding: 30px;
      min-height: 100px;
    }
  }
}
@include _640 {
  .advantages-cards {
    gap: 30px;
    padding: 15px;
    // .advantages-cards_UAE

    &_UAE,
    &_local {
      padding: 40px;
      gap: 30px;
      max-width: 100%;
      min-height: 0px;
    }
    &_UAE h2,
    &_local h2 {
      font-size: 37px;
      line-height: normal;
    }
    &_UAE p,
    &_local p {
      font-size: 18px;
      line-height: 160%;
    }
  }
  .trust-cards {
    // .trust-cards_block

    &_block {
      margin-bottom: 60px;
      gap: 30px;
      // .trust-cards_title
    }
    &_title {
      display: flex;
      padding: 56px 0px 56px 35px;
    }

    &_title h2 {
      font-size: 37px;
      line-height: normal;
    }

    // .trust-cards_services

    &_services_card,
    &_success_card {
      max-width: 788px;
      padding: 35px;
      min-height: 100px;
    }
  }
}
@include _768 {
  .advantages-cards {
    padding: 0 35px;
  }
  .trust-cards {
    // .trust-cards_block
    &_block {
      padding: 0px 35px;
    }
  }
}
@include _992 {
  .advantages-cards {
    grid-template-columns: 1fr 1fr;
    padding: 0 35px;
    gap: 30px;
    margin-bottom: 150px;
    &_UAE,
    &_local {
      padding: 40px 30px;
      max-height: 550px;
    }
    &_UAE h2,
    &_local h2 {
      font-size: 50px;
      line-height: normal;
    }
    &_UAE p,
    &_local p {
      font-size: 22px;
      line-height: 160%;
    }
  }
  .trust-cards {
    // .trust-cards_block

    &_block {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 60px;
      gap: 30px;
      // .trust-cards_title
    }
    &_title {
      display: flex;
      padding: 56px 0px 56px 35px;
    }
    &_title h2 {
      font-size: 50px;
      line-height: normal;
    }

    // .trust-cards_services

    &_services_card,
    &_success_card {
      max-width: 788px;
      padding: 38px;
    }
  }
}
@include _1200 {
  .advantages-cards {
    display: grid;
    padding: 0 35px;
    gap: 30px;
    margin-bottom: 150px;

    // .advantages-cards_UAE

    &_UAE,
    &_local {
      padding: 40px;
    }
  }
  .trust-cards {
    // .trust-cards_block

    &_block {
      padding: 40px 35px;
      margin-bottom: 120px;
      gap: 48px;
      // .trust-cards_title
    }
    &_title {
      display: flex;
      padding: 56px 0px 56px 35px;
    }

    // .trust-cards_services

    &_services_card {
      display: flex;
      max-width: 788px;
      padding: 64px 80px;
      border-radius: 48px;
      border: 2px solid #000;
      background: #ebf3ff;
    }

    // .trust-cards_success

    &_success_card {
      display: flex;
      max-width: 788px;
      padding: 64px 80px;
      border-radius: 48px;
      border: 2px solid var(--primary, #000);
      background: #f6f6f6;
    }
    &_services_card,
    &_success_card p {
      max-width: 628px;
    }
  }
}
@include _1630 {
  .advantages-cards {
    padding: 0 35px;
    gap: 48px;
    margin-bottom: 120px;

    // .advantages-cards_UAE

    &_UAE {
      max-width: 732px;
      padding: 64px 80px;
      gap: 32px;
      border-radius: 48px;
      max-height: 424px;
    }

    // .advantages-cards_local

    &_local {
      max-width: 732px;
      padding: 64px 80px;
      gap: 32px;
      border-radius: 48px;
      max-height: 424px;
    }
  }
}
