.partners-logo {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(0, 1fr);
  // .partners-logo_block

  &_block {
    display: flex;
    padding: 17px 0;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #000;
  }
}
.сonsultations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  // .сonsultations_logo

  &_logo {
    display: flex;
    padding: 20px;
  }

  // .сonsultations_button

  &_button {
    @include button;
    display: flex;
    max-width: 340px;
    flex-direction: row;
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #000;
      transition: ease 0.3s;
      svg path {
        stroke: black;
        transition: ease 0.3s;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////

@include _1 {
  .partners-logo {
    padding: 0;
    gap: 24px;
    grid-template-columns: 1fr;
    // .partners-logo_block

    &_block {
      padding: 17px 0;
      border-radius: 20px;
    }
  }
  .сonsultations {
    margin-bottom: 90px;
    &_button {
      width: 100%;
    }
  }
}
@include _640 {
  .сonsultations {
    margin: 100px 0;
  }
}
@include _992 {
  .сonsultations {
    margin: 220px 0 150px;
  }
}
@include _1200 {
  .partners-logo {
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    &_block {
      padding: 10px 9px;
    }
    &_block img {
      max-width: 100%;
      height: auto;
    }
  }
}
@include _1630 {
  .сonsultations {
    margin: 300px 0 120px;
  }
}
