//.div {
//   @include _1170 {
//       @content;
//   }

//     @media (min-width: 1px)
//         @content

// =_470
//     @media (min-width:470px)
//         @content
@mixin _768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin _992 {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin _1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin _1400 {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin button {
  display: inline-block;
  padding: 17px 57px;
  background: none;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 32px;
  transition: all 0.3s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
