//.div {
//   @include _1170 {
//       @content;
//   }

@mixin _1 {
  @media (min-width: 1px) {
    @content;
  }
}

@mixin _350 {
  @media (min-width: 350px) {
    @content;
  }
}
@mixin _430 {
  @media (min-width: 430px) {
    @content;
  }
}

@mixin _640 {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin _768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin _900 {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin _992 {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin _1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin _1250 {
  @media (min-width: 1250px) {
    @content;
  }
}
@mixin _1330 {
  @media (min-width: 1330px) {
    @content;
  }
}

@mixin _1520 {
  @media (min-width: 1520px) {
    @content;
  }
}
@mixin _1630 {
  @media (min-width: 1630px) {
    @content;
  }
}
@mixin _1980 {
  @media (min-width: 1980px) {
    @content;
  }
}
@mixin _2380 {
  @media (min-width: 2380px) {
    @content;
  }
}

@mixin button {
  display: inline-block;
  padding: 17px 57px;
  background: none;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 32px;
  transition: all 0.3s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

@mixin button_social {
  display: flex;
  width: 240px;
  height: 64px;
  gap: 12px;
  border: none;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 64px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
