.contact-with-us {
  display: flex;
  padding: 56px;
  flex-direction: column;
  align-items: center;
  &_title {
    display: flex;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }

  &_socials {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.button_whatsapp {
  background: #71cf5b;
  @include button_social;
}
.button_telegram {
  background: #53aae3;
  @include button_social;
}
.button_email {
  background: #a0a8b5;
  @include button_social;
}

.footer {
  width: 100%;
  background-color: #000;
  &_content {
    gap: 40px;
    display: flex;
    flex-direction: column;

    padding: 96px 85px 100px 100px;
    max-width: 1720px;
    margin: 0 auto;
  }

  &_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_links {
    display: flex;
    align-items: center;
    gap: 40px;
    & li {
      &::after {
        content: "";
        display: block;
        background-color: white;
        height: 1px;
        width: 0%;
        transition: 0.3s all;
      }
      &:hover {
        &::after {
          width: 100%;
          transition: 0.3s all;
        }
      }
    }
  }

  &_links ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
  }
  &_links a {
    color: white;
  }
  &_line {
    display: flex;
    padding: 15px 0;
  }
  &_line span {
    width: 1720px;
    height: 1px;

    background: #a0a8b5;
  }
  &_bottom {
    justify-content: space-between;
    display: flex;
    color: white;
    align-items: center;
    & a {
      color: white;
      &::after {
        content: "";
        display: block;
        background-color: white;
        height: 1px;
        width: 0%;
        transition: 0.3s all;
      }
      &:hover {
        &::after {
          width: 100%;
          transition: 0.3s all;
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////
@include _1 {
  .contact-with-us {
    gap: 40px;
    padding: 15px;
    margin-bottom: 90px;
    & p {
      text-align: center;
    }
    &_title {
      display: flex;
      padding: 0;
      flex-direction: column;
      gap: 40px;
    }
    &_title h2 {
      font-size: 34px;
      font-style: normal;
      line-height: normal;
    }
    &_title p {
      font-size: 16px;
      font-style: normal;
      line-height: 160%;
      letter-spacing: 0.32px;
    }

    &_socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      width: 100%;
    }
    &_socials a {
      padding: 22px 0;
      width: 100%;
    }
    & p.large_subtitle {
      font-size: 18px;
      max-width: 813px;
    }
  }
  .footer {
    &_content {
      padding: 40px 10px;
    }
    &_logo {
      padding: 0 18px;
    }
    &_logo img {
      width: 100%;
      max-width: 263px;
    }
    &_row {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }
    &_links {
      flex-direction: column;
      justify-content: center;
      gap: 28px;
      font-size: 18px;
      line-height: 160%;
    }
    &_bottom {
      flex-direction: column;
      gap: 20px;
      font-size: 18px;
      line-height: 160%;
    }
  }
}

@include _430 {
  .contact-with-us {
    &_title p {
      font-size: 18px;
      letter-spacing: 0.326px;
    }
  }
}

@include _768 {
  .contact-with-us {
    padding: 35px;
    gap: 55px;

    &_title h2 {
      font-size: 50px;
      line-height: 80px;
    }
    &_title p {
      font-size: 22px;
      line-height: 34px;
    }
    &_socials {
      flex-direction: row;
    }

    &_socials a {
      max-width: 240px;
    }
    & p.large_subtitle {
      font-size: 22px;
    }
  }
}

@include _900 {
  .footer {
    &_content {
      padding: 60px 50px;
    }
    &_logo {
      padding: 0 18px;
    }
    &_logo img {
      max-width: 214px;
    }
    &_row {
      flex-direction: row;
      justify-content: unset;
      gap: 40px;
    }
    &_links {
      flex-direction: row;
      margin-left: auto;
      padding: 16px 0;
      font-size: 20px;
      line-height: 28px;
    }
    &_bottom {
      flex-direction: row;
      gap: 15px;
      font-size: 20px;
      line-height: 28px;
    }
  }
  .contact-with-us {
    & p.large_subtitle {
      font-size: 26px;
    }
  }
}

@include _1330 {
  .contact-with-us {
    gap: 85px;
  }
  .footer {
    &_content {
      padding: 60px 50px;
    }
    &_logo {
      padding: 0 18px;
    }

    &_links {
      gap: 40px;
    }
  }
}
@media (min-width: 1390px) {
  .footer {
    &_logo img {
      max-width: 383px;
    }
  }
}
