.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu_link {
  &::after {
    content: "";
    display: block;
    background-color: #000;
    height: 1px;
    width: 0%;
    transition: 0.3s all;
  }
  &:hover {
    &::after {
      width: 100%;
      transition: 0.3s all;
    }
  }
}
.burger {
  & span {
  }

  & span:last-child {
  }
}

@include _992 {
  .menu {
    display: none;
  }
}

@include _1200 {
  .menu {
    display: flex;
  }
  .burger {
    display: none;
  }
}
