.three-cards-block {
  &__title {
    font-family: EB Garamond;
    font-weight: 500;
  }

  &__cards {
    display: flex;
    row-gap: 40px;
  }

  &__card-name {
    margin-top: 48px;
    font-family: EB Garamond;
    font-size: 40px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.8px;
  }

  &__card-description {
    margin-top: 32px;
  }

  &__button {
    display: flex;
    position: relative;
  }
}
.arrow-button__text {
  margin-left: -20px;
  position: relative;
}
@include _1 {
  .what-sets-us-apart {
    margin-top: 87px;
  }
  .experience {
    margin-top: 180px;
  }
  .three-cards-block {
    &__img {
      margin-top: 40px;
    }
    &__title {
      font-size: 34px;
      line-height: normal;
    }
    &__cards {
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__card-name {
      font-size: 22px;
      letter-spacing: 0.44px;
    }

    &__card-description {
      font-size: 16px;
    }
    &__img {
      display: flex;
    }
    &__button {
      & button {
        font-size: 18px;
        width: 100%;
        &:hover {
          #arrow path {
            stroke: white; /* Изменить цвет на белый при наведении */
          }
        }
      }

      & svg,
      img {
        left: 0;
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translateY(-50%);
      }
    }
  }
}
@include _350 {
  .three-cards-block {
    &__button {
      & button {
        font-size: 20px;
      }

      & svg,
      img {
        top: 52%;
      }
    }
  }
}
@include _430 {
  .three-cards-block {
    &__title {
      font-size: 37px;
    }
    &__card-description {
      font-size: 18px;
    }
  }
}

@include _640 {
  .what-sets-us-apart,
  .experience {
    margin-top: 167px;
  }
  .three-cards-block {
    &__img {
      margin-top: unset;
    }
    &__card {
      justify-content: unset;
      align-items: unset;
    }

    &__img {
      justify-content: flex-start;
    }
    &__cards {
      margin-top: 36px;
      justify-content: space-between;
    }
    &__card-name,
    &__card-description {
      max-width: 100%;
    }

    &__title {
      font-size: 37px;
    }
    &__card-description {
      font-size: 18px;
      line-height: 160%;
    }
  }
}
@include _768 {
  .three-cards-block {
    &__title {
      font-size: 54px;
    }
    &__card-name {
      font-size: 31px;
    }
  }
}
@include _992 {
  .three-cards-block {
    &__title {
      font-size: 62px;
      line-height: 80px;
    }
    &__card-name {
      font-size: 40px;
      letter-spacing: 0.8px;
    }
    &__card-description {
      font-size: 22px;
      line-height: 34px;
    }

    &__button {
      & button {
        width: unset;
      }
    }
  }
}
@media (min-width: 1200px) {
  .what-sets-us-apart,
  .experience {
    margin-top: 120px;
    &__text {
      max-width: 397px;
    }
  }
  .three-cards-block {
    &__title {
      font-size: 72px;
    }
    &__cards {
      flex-direction: row;
      margin-top: 128px;
    }
    &__card {
      padding: 0px 30px;

      &-name {
        max-width: 348px;
      }
      &-description {
        max-width: 384px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .three-cards-block {
    &__card-name {
      max-width: 100%;
    }
    &__card-description {
      max-width: 404px;
    }
    &__card {
      padding: unset;
    }
  }
}
@include _1520 {
  .three-cards-block {
    &__card-description {
      max-width: 404px;
    }
  }
}
