@import "base/mixins";
@import "base/variables";
@import "base/fonts";
@import "blocks/about_us/about_main";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/about_us/about_main";
@import "blocks/about_us/about_cards";
@import "blocks/about_us/about_partners_&_contact";
@import "blocks/main/intro";
@import "blocks/main/what-we-do";

* {
  //default font-size: 16px | font-weight: 400
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.button {
  display: inline-block;
  padding: 17px 57px;
  background: none;
  border: 1px solid #000;
  border-radius: 32px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.button_arrow {
  padding: 15px 24px 15px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
ul,
li {
  list-style: none;
}

.lock {
  overflow: hidden;
}
