@import "base/mixins";
@import "base/variables";
@import "base/fonts";
@import "blocks/loader";
@import "blocks/three-cards-block";
@import "blocks/about_us/about_main";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/about_us/about_main";
@import "blocks/about_us/about_cards";
@import "blocks/about_us/about_partners_&_contact";
@import "blocks/main/intro";
@import "blocks/main/what-we-do";
@import "blocks/main/services";
@import "blocks/main/our-principles";
@import "blocks/main/satisfied-clients";
@import "blocks/main/work-together";
@import "blocks/main/modals";
@import "blocks/main/experience";
@import "blocks/accounting-services/acc-services_main";
@import "blocks/contact/contact";

* {
  //default font-size: 16px | font-weight: 400
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}
svg path {
  transition: all 0.3s;
}
body {
  overflow-x: hidden;
}
body,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1750px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.button {
  display: inline-block;
  padding: 17px 57px;
  background: none;
  border: 1px solid #000;
  border-radius: 32px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.button_arrow {
  padding: 17px 60px;
}
ul,
li {
  list-style: none;
}

.lock {
  overflow: hidden;
}
input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}
.relative {
  position: relative;
}
._black-button {
  background-color: #000;
  color: #fff;

  &:hover {
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  }
  &:active {
    transform: scale(0.97);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

._flex {
  display: flex;
}

.fadeIn {
  opacity: 1;
}
#fullscreen-decor {
  width: 100%;
}
@include _1 {
  #fullscreen-decor {
    margin-top: 30px;
    scale: 1.6;
  }
  .container {
    padding: 0 15px;
  }
}
@include _430 {
  #fullscreen-decor {
    scale: 1.28;
  }
}
@include _640 {
  #fullscreen-decor {
    scale: 1.7;
  }
}

@include _768 {
  #fullscreen-decor {
    scale: 1.6;
  }
}

@include _900 {
  .container {
    padding: 0 50px;
  }
}
@include _992 {
  #fullscreen-decor {
    scale: 1.4;
    margin-top: 120px;
  }
}

@include _1520 {
  .container {
    padding: 0 100px;
  }
}

@media (min-width: 1920px) {
  #fullscreen-decor {
    scale: 1.05;
  }
}

@media (min-width: 2470px) {
  #fullscreen-decor {
    scale: 1.4;
  }
}
